nav {
    margin: 0.5rem;
    clear: both;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    flex: 1;
}

nav a {
    display: block;
    padding: 0.3rem;
    background-color: yellow;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    text-decoration: none;
    color: red;
}

nav a:hover {
    text-decoration: none;
    background-color: black;
    color: yellow;
}

nav a.current_page {
    background-color: red;
    color: yellow;
}