{% extends '_base.html.twig' %}

{% block title %}
    Error page
{% endblock %}

{% block main %}
    <h1> Error </h1>
    <p>
        404 - Sorry the requested resource could not be located
    </p>

{% endblock %}