{% extends '_baseReduced.html.twig' %}

{% block title %}
    Admin Create page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h4>
        <span id = "alignLeft"> Admin (Create) </span>
        <span id = "floatRight" class = "removeBullet"> <a href = "/logout" class = "styleLogin"> Log out </a> </span>
        <span id = "alignRight"> You are logged in as {{ userSession }} &nbsp;&nbsp; </span>
    </h4>

    <div>
        <ul>
            <li class = "removeBullet"> <a href = "/adminCreateStudent" class = "editLinks"> Create Student </a> </li>
            <li class = "removeBullet"> <a href = "/adminCreateMember" class = "editLinks"> Create Member </a> </li>
            <li class = "removeBullet"> <a href = "/adminCreateProject" class = "editLinks"> Create Project </a> </li>
            <li class = "removeBullet"> <a href = "/adminCreatePublication" class = "editLinks"> Create Publication </a> </li>
            <li class = "removeBullet"> <a href = "/adminCreateLoginUser" class = "editLinks"> Create Login User </a> </li>
        </ul>
        <ul>
            <li class = "removeBullet"> <a href = "/adminIndex" class = "editLinks"> Back Home </a> </li>
        </ul>
    </div>

{% endblock %}
