{% extends '_baseReduced.html.twig' %}

{% block title %}
    Admin Create Member page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h4>
        <span id = "alignLeft"> Admin (Create Member) </span>
        <span id = "floatRight" class = "removeBullet"> <a href = "/logout" class = "styleLogin"> Log out </a> </span>
        <span id = "alignRight"> You are logged in as {{ userSession }} &nbsp;&nbsp; </span>
    </h4>

    <form method = "post" action = "/adminInsertMemberIntoDb">
        <p>
            <input type = "text" name = "memberName" placeholder = "Member Name" required>
        </p>
        <p>
            <input type = "text" name = "memberSurname" placeholder = "Member Surname" required>
        </p>
        <p>
            <input type = "text"  name = "projectId" placeholder = "Project Id" required>
        </p>
        <p>
            <input type = "text" name = "email" placeholder = "Email" required>
        </p>
        <p>
            <input type = "text" name = "memberStatus" placeholder = "Member Status" required>
        </p>
        <p>
            <input type = "submit" value = "Insert Member">
        </p>
    </form>

    <div>
        <ul>
            <li class = "removeBullet"> <a href = "/adminIndex" class = "editLinks"> Back Home </a> </li>
        </ul>
    </div>

{% endblock %}
