{% extends '_baseReduced.html.twig' %}

{% block title %}
    Student Confirmation page
{% endblock %}

{% block NavStyle %} {% endblock %}

{% block main %}

    <h3>
        <strong> Action Confirmation </strong>
    </h3>

    <div id = "confirmMessage">
        {{ confirmMessage }}
    </div>

    <div>
        <ul>
            <li class = "removeBullet"> <a href = "/studentIndex" class = "editLinks"> Back Home </a> </li>
        </ul>
    </div>

{% endblock %}
